{% extends 'dashboard.html' %} {% load static %}

{%block content%} {%load static%}
<article class="article_profile">
	<section class="article_profile_photo">
		<img src= "{% static 'img/profile-women.png' %}" alt="">
	</section>
	<h3 class="h3_name">name student</h3>
	<h3 class="h3_role">role</h3>
	<h3 class="h3_title">Tus datos</h3>
	<section class="article_profile_personal_information">
		<div class="title">a</div>
		<div class="content">bn</div>
	</section>
	<hr class="hr_profile_graduates">
	<h3 class="h3_title">Tus datos Laborales</h3>
	<section class="article_profile_employment_data">
		<div class="title">a</div>
		<div class="content">bcxvvcxvcxvcxn</div>
	</section>
	<hr class="hr_profile_graduates">
	<h3 class="h3_title">Otros datos de interés</h3>
	<section class="article_profile_outher_data">
		<div class="title">a</div>
		<div class="content">bfddggdgn</div>
	</section>
</article>
{%endblock content%}