{% extends 'dashboard.html' %} {% load static %}

{%block content%} {%load static%}
<article class="article_profile">
	<section class="article_profile_photo">
		<img src= "{% static 'img/profile-women.png' %}" alt="">
	</section>
	<h3 class="h3_name">Laura Suárez</h3>
	<h3 class="h3_role">Egresado</h3>
	<br>
	<br>
	<br>
	<hr class="hr_profile_graduates">
	<h3 class="h3_title">Tus datos</h3>
	<br>
	<br>
	<br>
	<section class="article_profile_personal_information">
		<div class="telefono">
			<i class="fa-solid fa-mobile-screen"></i>
			<p class="title">Teléfono</p>
			<p class="info">+57 2041274678</p>		
		</div>
		<div class="usuario">
			<i class="fa-regular fa-id-card"></i>
			<p class="title">Usuario</p>
			<p class="info">lsuarezf</p>
		</div>
		<div class="correo">
			<i class="fa-solid fa-envelope"></i>
			<p class="title">Correo</p>
			<p class="info">lsuarezf@unbosque.edu.co</p>
		</div>
		<div class="fecha_nacimiento">
			<i class="fa-solid fa-cake-candles"></i>
			<p class="title">Fecha Nacimiento</p>
			<p class="info">30/07/2001</p>
		</div>
		<div class="semestre">
			<i class="fa-solid fa-calendar-days"></i>
			<p class="title">Semestre</p>
			<p class="info">10 Semestre</p>
		</div>
		<div class="carrera">
			<i class="fa-solid fa-graduation-cap"></i>
			<p class="title">Carrera</p>
			<p class="info">Ingeniería de sistemas</p>
		</div>
	</section>
	<br>
	<br>
	<br>
	<hr class="hr_profile_graduates">
	<h3 class="h3_title">Tus datos Laborales</h3>
	<br>
	<br>
	<br>
	<section class="article_profile_personal_information">
		<div class="rango_salario">
			<i class="fa-solid fa-money-bill"></i>
			<p class="title">Tú rango salarial actual</p>
			<p class="info">$5000.000</p>
		</div>
		<div class="experiencia laboral">
			<i class="fa-solid fa-business-time"></i>
			<p class="title">Experenncia laboral</p>
			<p class="info">1 año</p>
		</div>
		<div class="cv">
			<i class="fa-solid fa-file"></i>
			<p class="title">Hoja de vida</p>
			<a class="info">Descargar</a>
		</div>
		<div class="cargo">
			<i class="fa-brands fa-linkedin"></i>
			<p class="title">Cargo</p>
			<a class="info">Desarrollador Semi Senior</a>
		</div>
		<div class="sector">
			<i class="fa-sharp fa-solid fa-industry"></i>
			<p class="title">Sector</p>
			<a class="info">Tecnología</a>
		</div>
		<div class="empresa">
			<i class="fa-solid fa-city"></i>
			<p class="title">Empresa</p>
			<a class="info">Microsoft</a>
		</div>
		<div class="tipo">
			<i class="fa-solid fa-calendar-days"></i>
			<p class="title">Tipo de empleo</p>
			<a class="info">Jornada completa</a>
		</div>
	</section>
	<br>
	<br>
	<br>
	<hr class="hr_profile_graduates">
	<h3 class="h3_title">Otros datos de interés</h3>
	<br>
	<br>
	<br>
	<section class="article_profile_personal_information">
		<div class="info">
			<i class="fa-solid fa-circle-info"></i>
			<p class="title">Info</p>
			<a class="info">Esta es información adicional</a>
		</div>
	</section>
</article>
{%endblock content%}