{% load static %}
<!-- Load static files -->

<!DOCTYPE html>
<html lang="es">
  <!-- HTML document with Spanish language -->

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This page is intended for the access and administration of the El Bosque University community"
    />
    <meta name="keywords" content="sie, unbosque, egresados" />
    <meta name="author" content="Estudiantes universidad el Bosque" />
    <title>Universidad El Bosque</title>
    <!-- Page title -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style-dashboard.css' %}" />
    <!-- Load external CSS file -->
    <link rel="stylesheet" href="{% static 'css/style-graduates.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style-forms.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style-administrator.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style-table.css' %}" />
    {%block css_external%}{%endblock css_external%}
  </head>

  <body>
    <header class="header">
      <!-- Header section -->
      <nav class="header_nav">
        <ul class="header_list_first">
          <li>
            <img
              src="{% static 'img/logo_blanco.png' %}"
              alt="Universidad el Bosque logo"
            />
          </li>
          <!-- University logo image -->
          <a class="header_list_first_button">
            <i class="fa-solid fa-bars"></i>
            <!-- Hamburger icon for menu -->
          </a>
        </ul>
        <ul class="header_list_second">
          <li>{{user.name.upper}}</li>
          <!-- Admin label -->
          <li>
            <a class="header_list_second_button"
              >

              {% if user.gender == 'F' %}
                <img  
                  src="{% static 'img/profile-woman.png' %}"
                  alt="Usuario imagen"
                />

                {% else %}
                <img  
                  src="{% static 'img/profile-men.png' %}"
                  alt="Usuario imagen"
                />
              {%endif %}
              
            </a>
            <!-- User profile image -->
            <div class="notifications">3</div>
            <!-- Notification count -->
          </li>
        </ul>
      </nav>
    </header>

    <div class="log_out">
      <!-- Logout section -->
      <ul class="log_out_menu">
        <li>
          <a href=""> <i class="fa-solid fa-hammer"></i> Configuración</a>
          <!-- Configuration link with an icon -->
        </li>
        <li>
          <a href="{% url 'logout' %}">
            <i class="fa-solid fa-person-walking-arrow-right"></i> Cerrar
            sesión</a
          >
          <!-- Logout link with an icon -->
        </li>
      </ul>
  
    </div>

    <div class="container">
      <!-- Main content container -->
      <aside class="sidebar">
        <!-- Sidebar section -->
        <nav class="sidebar__nav">
          <div class="sidebar_container_title">
            <h3>Información general</h3>
          </div>
          <ul class="sidebar__list">
            <li class="sidebar__item">
              <a href="{% url 'dashboard' %}">
                <i class="fa-solid fa-house"></i>
                <!-- Home icon -->
                <p>Inicio</p>
                <i class="fa-solid fa-caret-right"></i>
                <!-- Right caret icon -->
              </a>
            </li>
            <li class="sidebar__item">
              <a href="{% url 'graduates:profile' %}">
                <i class="fa-solid fa-user"></i>
                <!-- User icon -->
                <p>Perfil</p>
                <i class="fa-solid fa-caret-right"></i>
              </a>
            </li>
          </ul>
          <hr />
          <ul class="sidebar__list">
            {% if graduate_results %}
            <li class="sidebar__item">
              <a href="{% url 'graduates:form_data' %}">
                <i class="fa-solid fa-id-card"></i>
                <p>Datos Laborales</p>
                <i class="fa-solid fa-caret-right"></i>
              </a>
            </li>
            {% endif %}
            {% if administrative_results %}
            <li class="sidebar__item">
              <a href="{% url 'administrator:new_act' %}">
                <i class="fa-solid fa-file-circle-plus"></i>
                <p>Crear Acta</p>
                <i class="fa-solid fa-caret-right"></i>
              </a>
            </li>
            <li class="sidebar__item">
              <a href="{% url 'administrator:list_act' %}">
                <i class="fa-solid fa-file-pen"></i> 
                <p>Lista Actas</p>
                <i class="fa-solid fa-caret-right"></i>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </aside>

      <main class="main">
        <!-- Main content section -->
        {%block content%}
        <div class="container_welcome">
          <h2>Bienvenido Usuario</h2>
        </div>
        <div class="container_calendar">
          <h2>Calendario</h2>
          <div id="calendar"></div>
        </div>
        {%endblock content%}
      </main>
    </div>

    <footer class="footer">  
      <!-- Footer section -->
      <p class="footer__text">
        © 2023 Universidad el bosque. Vigilada Mineducación. Personería Jurídica
        otorgada mediante resolución 11153 del 4 de agosto de 1978s.
      </p>
      <!-- Copyright text -->
    </footer>

    <script
      src="https://kit.fontawesome.com/c58b0ef951.js"
      crossorigin="anonymous"
    ></script>
    <!-- Font Awesome script -->
    <script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
    <!-- Load external JavaScript file -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/index.global.js' %}"></script>
    <!-- Load external JavaScript file -->
    {% block extrajs %}{% endblock extrajs %}
  </body>
</html>
