/* LIST ACT */
.list_act {
  display: block;
  background: #fff;
  margin: 10px auto;
  padding: 10px 17px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.35);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  width: 70%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
}

.modal-body {
  margin-bottom: 20px;
  font-size: 15px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.modal-footer button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-footer button:hover {
  background-color: #0056b3;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #ffff;
  cursor: pointer;
  background-color: red;
  width: 30px;
  border-radius: 5px;
}

.close:hover {
  color: #333;
}