/* FILTERS */
.container_filters {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  justify-content: flex-end;
}

.container_filters button {
  width: 100px;
  background-color: #82CD47;
  color: #000000;
  padding: 11px;
  font-weight: 700;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
}

.container_filters .form_container_search_by_comitee_act {
  width: 100%;
  display: flex;
  align-items: center;
}

.form_container_search_by_comitee_act label {
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 10px;
}

.form_container_search_by_comitee_act select {
  border: 1px solid #ced4da;
  border-radius: 5px;
  height: 40px;
  padding: 5px 5px 5px 20px;
  width: 200px;
}


.form_container_search_by_comitee_act button:hover {
  background-color: #6cb932;
  cursor: pointer;
}

.container_filters .form_container_search_by_P {
  display: flex;
  align-items: center;
}

.container_filters .form_container_search_by_P input {
  border: 1px solid #ced4da;
  border-radius: 5px;
  height: 30px;
  padding: 5px 5px 5px 20px;
}


/* TABLE */
.table {
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.table thead {
  background-color: #82CD47;
}

.table thead tr th {
  font-weight: bold;
  padding: 12px 30px;
  /* padding-left: 42px; */
}

.table thead tr th span {
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.table tbody tr td {
  text-align: center;
  padding: 15px 10px;
}

.table tbody tr td.td_title {
  /* text-align: left; */
}

.table tbody tr td.link {
  color: blue;
  text-decoration: underline;
}

/* PAGINATION */
.container_pagination {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

ul.pagination li a.active {
  background-color: #82CD47;
  color: #000000;
}

ul.pagination li a:hover:not(.active) {
  background-color: #ddd;
}