{% extends 'dashboard.html' %} {% load static %} {%block content%}
<h2>Crea un nuevo evento</h2>
<section class="Events">
  <form action="#" method="post" class="form" id="eventForm">
    {% csrf_token %} {% for field in form %}
    <div class="form_group">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }} {% for error in field.errors %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>
    {% endfor %}
    <div class="form_group">
      <button type="submit" class="button_send" id="submitBtn">Enviar</button>
    </div>
  </form>
</section>

{%endblock content%}
