{% extends 'dashboard.html' %} {% load static %} {%block content%}
<h2>Lista de Actas</h2>
<section class="list_act">
  <div class="container_filters">
    <input
      type="text"
      class="input_search_by"
      placeholder="Buscar por número de aca"
    />
    <button class="button_search_by">Buscar</button>
  </div>
  <table class="table" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th><span>Número de Acta</span></th>
        <th><span>Título de acta</span></th>
        <th><span>Tipo de acta</span></th>
        <th><span>Fecha de creación</span></th>
        <th><span>Archivo</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0006</td>
        <td class="td_title">Acta de eventos</td>
        <td>Acta 1</td>
        <td>20 de Mayo 2023</td>
        <td class="link">Descargar</td>
      </tr>
      <tr>
        <td>0005</td>
        <td class="td_title">Acta de reunión profesores</td>
        <td>Acta 2</td>
        <td>19 de Mayo 2023</td>
        <td class="link">Descargar</td>
      </tr>
      <tr>
        <td>0004</td>
        <td class="td_title">Acta de reunión administrativos</td>
        <td>Acta 3</td>
        <td>18 de Mayo 2023</td>
        <td class="link">Descargar</td>
      </tr>
      <tr>
        <td>0003</td>
        <td class="td_title">Acta de reunión Universidades</td>
        <td>Acta 1</td>
        <td>17 de Mayo 2023</td>
        <td class="link">Descargar</td>
      </tr>
      <tr>
        <td>0002</td>
        <td class="td_title">Acta de reunión Estudiantes</td>
        <td>Acta 2</td>
        <td>16 de Mayo 2023</td>
        <td class="link">Descargar</td>
      </tr>
      <tr>
        <td>0001</td>
        <td class="td_title">Acta de reunión Profesores-Estudiantes</td>
        <td>Acta 3</td>
        <td>15 de Mayo 2023</td>
        <td class="link">Descargar</td>
      </tr>
    </tbody>
  </table>
  <div class="container_pagination">
    <ul class="pagination">
      <li><a href="#">«</a></li>
      <li><a href="#">1</a></li>
      <li><a class="active" href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">»</a></li>
    </ul>
  </div>
</section>
{%endblock content%}
